html{
    padding-top: 50px;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

#submit-title{
    text-align: center;
}

form{
    text-align: center;
}

#text-input-container{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.input-container{
    padding: 2%;
    text-align: left;
}

input[type="text"]:not(.resource-tags):not(.resource-contact):not(.resource-contact-type), input[type="url"]{
    width: 100%;
}

input[type="text"]:not(.resource-tags), input[type="url"]{
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
}

#desc-input-container textarea{
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
    resize: none;
    border-radius: 10px;
    border: 2px solid #000;
    border-style: inset;
    box-sizing: border-box;
}

label{
    font-size: 18px;
}

input[type="submit"]{
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #ddd;
}

.required-mark{
    color: red;
}

.resource-tags{
    width: 85%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
}

.remove-row{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 10px;
}

.add-row{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 8px;
}

.tag-input-row{
    text-align: center;
}

.hidden-remove-row{
    visibility: hidden;
    margin: none;
}

.resource-contact{
    width: 44%;
    height: 50px;
    margin-left: 2%;
}

.resource-contact-type{
    width: 44%;
    height: 50px;
}

#clear-resources{
    border: none;
    background: none;
    position: absolute;
    bottom: 4px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
}