html{
    padding-top: 5vh;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

#title-div{
    display: flex;
    text-align: center;
    width: 100%;
    height: 80vh;
    align-items: center;
}

@media screen and (max-width: 670px){
    #title-div{
        flex-direction: column;
    }
    #heading-div{
        /* order: 2; */
        width: 90%;
    }
    #title-image-div{
        /* order: 1; */
        width: 100%;
    }
}

@media screen and (min-width: 670px){
    #title-div{
        flex-direction: row;
    }
    #heading-div{
        /* order: 2; */
        width: 50%;
    }
    #title-image-div{
        /* order: 1; */
        width: 40%;
    }
}

#heading-div{
    text-align: left;
    max-width: 570px;
    padding-left: 10%;
}

#title-image-div{
    text-align: center;
    flex-grow: 1;
}

#title-image-div img{
    width: 80%;
    height: 50%;
    max-height: 50vw;
    object-fit: cover;
}

h1.title{
    font-size: 4em;
    margin: 0;
}

.accented{
    color: green;
}