html{
    padding-top: 50px;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

#title-div{
    display: flex;
    text-align: center;
    width: 100%;
}

#heading-div{
    text-align: left;
    width: 30%;
    padding-left: 10%;
}

#title-image-div{
    text-align: center;
    width: 60%;
}

h1.title{
    font-size: 4em;
    margin: 0;
}

.accented{
    color: green;
}