:root {
    --background-color: rgb(255, 255, 255);
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --accent-color: rgb(32, 185, 32);
    --accent-color-translucent: rgba(32, 185, 32, 0.25);
    --glow-color: rgb(0, 255, 0);
    --highlight-color: rgb(219, 255, 204);
    --frosted-glass-color: rgba(255, 255, 255, 0.15);
    --background: linear-gradient(45deg, var(--background-color), white);
    --title-font: "Space Grotesk", sans-serif;
    --text-font: "Varela Round", sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: var(--title-font);
}

h4, h5, h6, p, label, a{
    font-family: var(--text-font);
}
    
body{
    /* background: radial-gradient(ellipse, var(--accent-color-translucent), 30%, white); */
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    border-bottom: 8px solid var(--accent-color);
    z-index: 2;
}

#navbar a{
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 20px;
    float: right;
    font-family: "Varela Round", sans-serif;
}

#home-div{
    text-align: center;
    height: 100vh;
}


#home-div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/photos/science-academy.jpg);
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

#title-div{
    text-align: center;
    display: grid;
    align-items: center;
    padding-top: 15vh;
}

.title{
    font-size: 5em;
    line-height: 100px;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 0;
    color: var(--title-color);
}

.accent{
    color: var(--accent-color);
}

#subtitle{
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    margin: 30px auto 40px;
    max-width: 800px;
    color: var(--title-color);
}

button{
    width: 175px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1em;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
}

.button-small{
    background-color: var(--frosted-glass-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    color: black;
    box-shadow: 0 0 20px rgba(102, 102, 102, 0.7);
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
}

.button-small-icon{
    height: 25px;
    /* filter: invert(48%) sepia(100%) saturate(5207%) hue-rotate(130deg) brightness(155%) contrast(80%); */
} 

.button-main1{
    background-color: var(--accent-color);
    border: none;
    color: var(--title-color);
    
    box-shadow: 0 0 10px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 20px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 20%, transparent);
    
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 20px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 20%, transparent);
  }
  to {
    box-shadow: 0 0 20px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 60px color-mix(in srgb, var(--glow-color) 20%, transparent);
  }
}

.button-main1:hover, .button-main2:hover{
    background-color: var(--highlight-color);
    color: var(--accent-color);
    box-shadow: 0 0 20px color-mix(in srgb, var(--glow-color) 100%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 80%, transparent), 0 0 60px color-mix(in srgb, var(--glow-color) 40%, transparent);
}

.button-main2{
    background-color: var(--frosted-glass-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0 0 20px rgba(102, 102, 102, 0.7);
}

#featured-div{
    text-align: center;
    padding-top: 50px;
}

#resource-list-container{
    margin-left: auto;
    width: 85%;
    margin-top: 8px;
}

#resource-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 3%;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#resource-list li{
    border: 1px solid #ccc;
    padding: 15px;
    width: 282px;
    height: 390px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

#resource-list li img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    padding-bottom: 25px;
    border-radius: 20px;
}

#resource-list li a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.75em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: var(--title-font);
    line-height: 1.1em;
}

#resource-list li p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
}

#resource-list li .tag{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 0.75em;
}