:root {
    --background-color: rgb(212, 255, 212);
    --text-color: rgb(255, 255, 255);
    --accent-color: rgb(32, 185, 32);
    --accent-color-translucent: rgba(32, 185, 32, 0.25);
    --glow-color: rgb(0, 255, 0);
    --highlight-color: rgb(219, 255, 204);
    --frosted-glass-color: rgba(255, 255, 255, 0.15);
    --background: linear-gradient(45deg, var(--background-color), white);
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(ellipse, var(--accent-color-translucent), 30%, white);
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/photos/science-academy.jpg);
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar a{
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 20px;
    float: right;
    font-family: "Varela Round", sans-serif;
}

#home-div{
    text-align: center;
}

#title-div{
    text-align: center;
    display: grid;
    align-items: center;
    padding-top: 15vh;
}

.title{
    font-size: 5em;
    line-height: 100px;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 0;
    color: var(--text-color);
}

.accent{
    color: var(--accent-color);
}

#subtitle{
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    margin: 30px auto 40px;
    max-width: 800px;
    color: var(--text-color);
}

button{
    width: 175px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1em;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
}

.button-main1{
    background-color: var(--accent-color);
    border: none;
    color: var(--text-color);
    
    box-shadow: 0 0 10px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 20px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 20%, transparent);
    
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 20px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 20%, transparent);
  }
  to {
    box-shadow: 0 0 20px color-mix(in srgb, var(--glow-color) 70%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 50%, transparent), 0 0 60px color-mix(in srgb, var(--glow-color) 20%, transparent);
  }
}

.button-main1:hover, .button-main2:hover{
    background-color: var(--highlight-color);
    color: var(--accent-color);
    box-shadow: 0 0 20px color-mix(in srgb, var(--glow-color) 100%, transparent), 0 0 40px color-mix(in srgb, var(--glow-color) 80%, transparent), 0 0 60px color-mix(in srgb, var(--glow-color) 40%, transparent);
}

.button-main2{
    background-color: var(--frosted-glass-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    box-shadow: 0 0 20px rgba(102, 102, 102, 0.7);
}