:root {
    --background-color: rgb(212, 255, 212);
    --text-color: rgb(33, 33, 33);
    --accent-color: rgb(32, 185, 32);
    --background: linear-gradient(45deg, var(--background-color), white);
}

html{
    margin: 0;
    padding: 0;
    padding-top: 5vh;
}

body{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

#title-div{
    display: flex;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding-bottom: 18vh;
    align-items: center;
    background: var(--background);
}

@media screen and (max-width: 670px){
    #title-div{
        flex-direction: column;
    }
    #heading-div{
        /* order: 2; */
        width: 90%;
    }
    #title-image-div{
        /* order: 1; */
        width: 100%;
    }
    #heading-div h3.title{
        margin-top: 10%;
    }
}

@media screen and (min-width: 670px){
    #title-div{
        flex-direction: row;
    }
    #heading-div{
        /* order: 2; */
        width: 50%;
    }
    #title-image-div{
        /* order: 1; */
        width: 40%;
    }
}

#heading-div{
    text-align: left;
    max-width: 570px;
    padding-left: 10%;
}

#title-image-div{
    text-align: center;
    flex-grow: 1;
}

#title-image-div img{
    width: 80%;
    height: 50%;
    max-height: 50vw;
    object-fit: cover;
    margin-top: 10%;
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1.title{
    font-size: 4em;
    margin: 0;
}

.title{
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

.accented{
    color: var(--accent-color);
}

h1.accented{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#foreground{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* .accent-gradient{
    width: 25%;
    height: 25%;
    background: radial-gradient(circle, rgb(34, 255, 0), 1%, rgb(255, 255, 255, 0), 50%, rgb(255, 255, 255, 0));
    position: absolute;
} */