html{
    padding-top: 50px;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

#resource-directory-title{
    margin-left: 7%;
}

#search-bar{
    width: 80%;
    height: 30px;
    font-size: 1.25em;
    border-radius: 35px;
    padding: 10px 1% 10px 50px;
    margin: 0 7%;
    background-image: url('/assets/icons/search-icon.png');
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: 20px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
}

#resource-list{
    margin: 30px 4%;
}

#resource-list li{
    display: inline-block;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 15px;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    vertical-align: top;
}

#resource-list li img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    padding-bottom: 25px
}

#resource-list li a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.75em;
}

#resource-list li p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
}

#resource-list li .tag{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 0.75em;
}

#resource-list li .tag.type-tag{
    background-color: #ffaefb;
}

#resource-list li .tag.audience-tag{
    background-color: #ffe28c;
}