:root {
    --background-color: rgb(255, 255, 255);
    --backgound-color2: #d8f3dc;
    --title-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --accent-color: rgb(32, 185, 32);
    --accent-color-translucent: rgba(32, 185, 32, 0.25);
    --glow-color: rgb(0, 255, 0);
    --highlight-color: rgb(219, 255, 204);
    --frosted-glass-color: rgba(255, 255, 255, 0.15);
    --background: linear-gradient(45deg, var(--background-color), white);
    --title-font: "Space Grotesk", sans-serif;
    --text-font: "Varela Round", sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    border-bottom: 4px solid var(--accent-color);
}

#navbar a{
    text-decoration: none;
    color: var(--text-color);
    padding: 15px 20px;
    float: right;
    font-family: var(--text-font);
    float: right;
}

#top-div{
    padding-top: 50px;
    padding-bottom: 8px;
    background-color: var(--backgound-color2);
}

#resource-directory-title{
    margin-left: 7%;
}

#search-bar{
    width: 80%;
    height: 30px;
    font-size: 1.25em;
    border-radius: 35px;
    padding: 10px 1% 10px 50px;
    margin: 0 7% 30px;
    background-image: url('/assets/icons/search-icon.png');
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: 20px 15px;
    background-color: white;
    background-blend-mode: normal;
}

#search-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/photos/science-academy.jpg);
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

#resource-list-container{
    margin-left: auto;
    width: 85%;
    margin-top: 8px;
}

#resource-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 3%;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#resource-list li{
    border: 1px solid #ccc;
    padding: 15px;
    width: 282px;
    height: 390px;
    border-radius: 20px;
    box-sizing: border-box;
}

#resource-list li img{
    width: 100%;
    height: 125px;
    object-fit: cover;
    padding-bottom: 25px;
    border-radius: 20px;
}

#resource-list li a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.75em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

#resource-list li p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1em;
}

#resource-list li .tag{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 0.75em;
}

#filter-container{
    float: left;
    width: 12%;
    height: 100vh;
    padding-left: 2%;
    padding-right: 1%;
    border-right: 1px solid #ccc;
    margin-top: 8px;
}

.filter-group-title{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.filter-options label{
    display: block;
    padding-bottom: 5px;
}

hr{
    margin: 0;
}