html{
    padding-top: 50px;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    background-color: #f8f8f8;
}

#navbar a{
    text-decoration: none;
    color: #333;
    padding: 15px 20px;
    float: right;
}

.tag{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-size: 0.75em;
}

#resource-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#resource-img{
    max-width: 85%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    object-fit: cover;
    /* margin: 1% 10% 2% 0; */
}

#resource-text{
    text-align: left;
    padding: 5%;
    max-width: 600px;
}